# Archivos de configuración locales que no deben ser subidos
Database/Database/db_config.php

# Archivos de log y temporales
*.log

# Dependencias de Node
/node_modules

# Archivos de build de Angular
/dist
/tmp

# Archivos del IDE
.idea/
.vscode/
