<!-- Encabezado de la página -->
<header class="header">
    <div class="header-content">
        <h1 class="logo">ELBUENGUSTO</h1>
        <nav class="main-nav">
            <ul>
                <li><a [routerLink]="['/inicio']" class="nav-item">Inicio</a></li>
                <li><a [routerLink]="['/menu']" class="nav-item">Menú</a></li>
                <li><a [routerLink]="['/login']" class="nav-item">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="menu-container">
  <h1 class="menu-title">Nuestro Menú</h1>
  <p class="menu-subtitle">Descubre los sabores que te esperan en nuestro restaurante.</p>
  
  <!-- Contenedor del Carrusel -->
  <div class="menu-carousel-wrapper">
    <div class="menu-carousel-container">
      <div *ngFor="let image of menuImages; let i = index" 
           class="carousel-slide" 
           [class.active]="i === currentSlide">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>
    
    <!-- Controles del Carrusel -->
    <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
    <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>
  </div>

</div>
