/* Estilos propios del componente Menu */
.menu-container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.menu-title {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.menu-subtitle {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 3rem;
}

/* Estilos para el carrusel del menú */
.menu-carousel-wrapper {
    position: relative;
    max-width: 100%;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.menu-carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-slide.active {
    opacity: 1;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control.prev {
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.carousel-control.next {
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
