/* You can add global styles to this file, and also import other style files */
@import "swiper/css";
@import "swiper/css/navigation";
@import "./app/app/globales.css";

/* Estilos globales para el Header */
.header {
    background: linear-gradient(90deg, #2c3e50, #34495e);
    color: #fff;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Montserrat', sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1.5px;
    color: #ecf0f1; /* Color blanco explícito para el logo */
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
}

.main-nav a.nav-item {
    color: #ecf0f1; /* Color blanco para el texto */
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.main-nav a.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f39c12;
    transition: width 0.3s ease;
}

.main-nav a.nav-item:hover {
    color: #f39c12;
    transform: translateY(-3px);
}

.main-nav a.nav-item:hover::after {
    width: 100%;
}

/* Estilos globales para el Footer */
.footer {
    background: linear-gradient(90deg, #2c3e50, #34495e);
    color: #ecf0f1;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
}

/* Estilos responsivos para el Header */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center; /* Centrar logo y nav */
        gap: 1rem; /* Espacio entre logo y nav */
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center; /* Centrar items del menú */
        gap: 1.5rem; /* Espacio entre items del menú */
        width: 100%;
        padding-top: 1rem; /* Espacio arriba del menú */
    }

    .logo {
        text-align: center;
    }

    .main-nav a.nav-item {
        font-size: 1.2rem; /* Aumentar tamaño para mejor legibilidad */
    }
}
